---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { SITE } from "@consts";
---

<Layout title="404" description={SITE.DESCRIPTION}>
  <Container>
    <div class="mt-16 flex flex-col items-center gap-6 text-center">
      <div
        class="animate font-serif text-7xl font-semibold text-[#3f6a45] dark:text-[#7ea184]"
      >
        404
      </div>
      <div class="animate space-y-2">
        <h1 class="text-2xl font-medium text-black dark:text-white">
          This page is somewhere on the Grand Line... but not here. 🏴‍☠️
        </h1>
      </div>
      <div class="animate">
        <BackToPrevious href="/">Go to home page</BackToPrevious>
      </div>
    </div>
  </Container>
</Layout>
