---
import { getEntry, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

const entry = await getEntry("about", "index");

if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await render(entry);
---

<Layout title={entry.data.title} description={entry.data.description}>
  <Container>
    <div class="space-y-10">
      <div class="animate">
        <h1 class="text-3xl font-semibold text-black dark:text-white">
          About
        </h1>
      </div>
      
      <article class="animate prose dark:prose-invert">
        <Content />
      </article>
    </div>
  </Container>
</Layout>