---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
  class?: string;
};

const {
  href,
  external,
  underline = true,
  group = false,
  class: className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-[#2f5d3a]/25 dark:decoration-[#73957a]/30 hover:decoration-[#2f5d3a]/60 focus-visible:decoration-[#2f5d3a]/60 dark:hover:decoration-[#73957a]/65 dark:focus-visible:decoration-[#73957a]/65 text-current hover:text-[#1d4427] focus-visible:text-[#1d4427] dark:hover:text-[#d7ead9] dark:focus-visible:text-[#d7ead9] transition-colors duration-200 ease-in-out",
    underline && "underline underline-offset-[3px]",
    group && "group",
    className,
  )}
  {...rest}
>
  <slot />
</a>
