---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
};

const {
  href,
  external,
  underline = true,
  group = false,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-[#b35c3a]/30 dark:decoration-[#d99068]/30 hover:decoration-[#b35c3a]/60 focus-visible:decoration-[#b35c3a]/60 dark:hover:decoration-[#d99068]/60 dark:focus-visible:decoration-[#d99068]/60 text-current hover:text-black focus-visible:text-black dark:hover:text-white dark:focus-visible:text-white transition-colors duration-200 ease-in-out",
    underline && "underline underline-offset-[3px]",
    group && "group"
  )}
  {...rest}
>
  <slot />
</a>
