---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
  class?: string;
};

const {
  href,
  external,
  underline = true,
  group = false,
  class: className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-[#25231d]/25 dark:decoration-white/30 hover:decoration-[#25231d]/60 focus-visible:decoration-[#25231d]/60 dark:hover:decoration-white/65 dark:focus-visible:decoration-white/65 text-current hover:text-[#25231d] focus-visible:text-[#25231d] dark:hover:text-[#f5f2ea] dark:focus-visible:text-[#f5f2ea] transition-colors duration-200 ease-in-out",
    underline && "underline underline-offset-[3px]",
    group && "group",
    className,
  )}
  {...rest}
>
  <slot />
</a>
