---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
  class?: string;
};

const {
  href,
  external,
  underline = true,
  group = false,
  class: className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-[#3f6a45]/25 dark:decoration-[#7ea184]/30 hover:decoration-[#3f6a45]/60 focus-visible:decoration-[#3f6a45]/60 dark:hover:decoration-[#7ea184]/65 dark:focus-visible:decoration-[#7ea184]/65 text-current hover:text-[#21492b] focus-visible:text-[#21492b] dark:hover:text-[#d0e6d2] dark:focus-visible:text-[#d0e6d2] transition-colors duration-200 ease-in-out",
    underline && "underline underline-offset-[3px]",
    group && "group",
    className,
  )}
  {...rest}
>
  <slot />
</a>
